<!DOCTYPE html>
<html>
<head>
  <title>GameCollector</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
HELLO
  <% if flash.any? %>
  <div>
    <%= notice %>
  </div>
  <% end %>

<%= yield %>

</body>
</html>
